* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  min-height: 100vh;
}

canvas {
  border: solid 5px #000;
}

.ui {
  display: flex;
  gap: 10px;
}

.ui button {
  outline: none;
  background: #02a7d5;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  cursor: pointer;
  border-radius: 25px;
  color: white;
}

.disabled {
  cursor: not-allowed !important;
  pointer-events: none;
  opacity: 50%;
}